h1 {
    text-align: center;
    color: rgb(211, 211, 211);
}

h2, p, ol, li, label, h3 {
    color: rgb(211, 211, 211);
}

body {
    background-color: rgb(22, 22, 22);
}

a, a:visited {
    color: rgb(211, 211, 211);
}